:root {
    --color-main: ;
    --color-sec: ;
    --color-trd: ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
}


/* Add a #000 background color to the top navigation */

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #000;
    right: 0;
    width: 100vw;
    height: 125px;
}

.topnav .links {
    display: block;
}

.topnav .links li {
    list-style-type: none;
    padding: 10px 0;
    font-size: 22px;
}

.topnav a.logo img {
    margin-top: 15px;
    height: 50px;
    width: 250px;
    display: block;
    transition: all .5s ease-in-out;
}


/* Style the links inside the navigation bar */

.topnav div {
    margin-right: 120px;
}

.topnav a {
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    padding: 25px 10px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    padding: 0;
    top: 50px;
    right: 10px;
}


/* Navigation Hamburger styling */

.topnav a.icon div.menu-btn_burger {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    margin: 0;
    z-index: 2;
}

.topnav a.icon div.menu-btn_burger::before,
.topnav a.icon div.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    margin: 0;
}

.topnav a.icon div.menu-btn_burger::before {
    transform: translate(-10px, -8px);
}

.topnav a.icon div.menu-btn_burger::after {
    transform: translate(-10px, 8px);
}


/* Opened Navigation */

.topnav.open,
.topnav.over.open {
    height: 100vh;
}

.topnav.contact.open {
    height: 100vh;
}

.topnav.open a.logo {
    display: none;
}


/* Creates the cross to close the menu */

.topnav a.icon.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.topnav a.icon.open .menu-btn_burger::before {
    transform: rotate(-45deg) translate(30px, 30px);
}

.topnav a.icon.open .menu-btn_burger::after {
    transform: rotate(45deg) translate(30px, -30px);
}


/* Opens the menu with animation */

.topnav.open #menu,
.topnav.open #menu.over {
    position: absolute;
    width: 100vw;
    margin: -100px 0 0 -375px;
    background: #000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 2;
}

.topnav #menu .links.open,
.topnav #menu.over .links.open {
    padding-top: 250px;
}

.topnav #menu .links.open a,
.topnav #menu.over .links.open a {
    display: block;
    float: none;
    text-align: left;
}


/* Gets the socials on the same px as the text */

.topnav #menu .socials,
.topnav #menu.over .socials {
    margin-left: 40px;
}

.topnav #menu .socials.right,
.topnav #menu.over .socials.right {
    margin-right: 100px;
}


/* Change the color of links on hover */

.topnav a:hover {
    text-decoration: underline;
    font-weight: bold;
}


/* Homepage styling */

.homepage-img {
    width: 100vw;
}

.bottomnav a.logo {
    display: none;
}

.topnav .socials {
    display: none;
}

.wrapper .homepage-cover {
    display: none;
}


/* Slideshow styling */

.homepage-content {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slideshow-content img.slide {
    width: 100vw;
}

.slide-dot-container {
    text-align: center;
}

.slide-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    padding: 0;
    border: 1px solid #aaa;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.slide-dot-border {
    border: 1px solid #ccc;
}

.slide-solid-dot {
    color: #000;
    background-color: #fff;
}


/* Over-page Styling */

img.desktop.image {
    display: none;
}

img.mobiel.image {
    display: block;
}


/* Contact-page Styling */

.image-wrapper .homepage-cover .cover-image {
    width: 100%;
}

.contact-wrapper h1,
.contact-wrapper h2 {
    color: #fff;
    margin: auto 35px;
}

.contact-wrapper .form {
    margin: 0 auto;
}

.contact-wrapper .address {
    color: #fff;
}

.contact-wrapper .address ul li {
    list-style-type: none;
}

.contact-wrapper .address ul li a {
    text-decoration: none;
}

.contact-wrapper .form form input,
.contact-wrapper .form form textarea {
    display: block;
    width: 80%;
    padding: 15px;
    margin: 15px auto;
    background: #000;
    color: #fff;
    border: #fff solid 1px;
}

.contact-wrapper .form form input[type="button"] {
    background: #fff;
    color: #000;
    font-weight: 600;
}


/* Product-page Styling */

.wrapper.product {
    display: flex;
    flex-direction: column;
}

p {
    color: #fff;
}


/* Desktop view */

@media only screen and (min-width: 1200px) {
    /* Global css */
    .content-space {
        width: 100%;
        margin-top: 150px;
    }
    .wrapper {
        display: flex;
        /* Will contain if First div is longer than second div */
    }
    .homepage-cover {
        overflow: hidden;
        /* if you don't want the second to warp below first */
    }
    /* Hiding the slideshow */
    .slideshow-content {
        display: none;
    }
    /* Making the navigation vertical to the left */
    header {
        width: 40%;
    }
    header.overpage {
        position: fixed;
        width: 100vw;
        height: 10vh;
        z-index: 2;
    }
    .topnav {
        width: 100%;
        height: 100vh;
    }
    .topnav.over {
        width: 100vw;
        height: 10vh;
    }
    .topnav #menu,
    .topnav #menu.over {
        position: absolute;
        margin: -100px 0 0 -600px;
    }
    .topnav.open #menu,
    .topnav.over.open #menu.over,
    .topnav.contact.open #menu.contact {
        position: absolute;
        width: 25%;
        margin: -100px 0 0 -125px;
        background: #000;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        z-index: 0;
    }
    .topnav.over.open #menu.over {
        margin: -100px 0 0 -405px;
    }
    .topnav.contact.open #menu.contact {
        margin: -100px 0 0 -145px;
    }
    /* Replacing the logo */
    .topnav a.logo {
        display: none;
    }
    .topnav .homepage-logo a.logo {
        position: flex;
        display: block;
        width: 350px;
        height: 200px;
        margin: 0 0 0 100px;
    }
    .topnav .homepage-logo a.logo-desktop img {
        margin: 650px 0 0 115px;
        height: 110px;
        width: 520px;
    }
    .topnav .homepage-logo_klein a.logo-desktop img {
        margin: 650px 0 0 70px;
        height: 70px;
        width: 400px;
    }
    /* Positioning the Hamburger */
    .topnav a.icon {
        right: 0;
        left: 115px;
    }
    /* Resizing the Hamburger */
    .topnav a.icon div.menu-btn_burger {
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        margin: 0;
        z-index: 2;
    }
    .topnav a.icon div.menu-btn_burger::before,
    .topnav a.icon div.menu-btn_burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        margin: 0;
    }
    .topnav a.icon div.menu-btn_burger::before {
        transform: translate(-15px, -8px);
    }
    .topnav a.icon div.menu-btn_burger::after {
        transform: translate(-15px, 8px);
    }
    /* Replacing the social  */
    .topnav #menu .socials,
    .topnav #menu.over .socials {
        display: none;
    }
    .topnav .socials.right {
        z-index: 2;
        margin: 25px 0 0 1550px;
    }
    .topnav .socials {
        display: block;
        margin: 25px 0 0 450px;
    }
    /* cover image */
    .homepage-cover img.cover-image {
        height: 100vh;
    }
    .wrapper .homepage-cover {
        display: block;
    }
    /* Over-page Styling */
    div.over-wrapper {
        display: flex;
        flex-direction: row;
        width: 400vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    div.outer-wrapper {
        width: 100vw;
        height: 200vh;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    div.image-desktop {
        margin-top: 200px;
        margin-left: 125px;
        width: 400vw;
    }
    img.desktop.image {
        display: block;
    }
    /* Contact-page Styling */
    .topnav.contact .socials {
        display: block;
        margin: 25px 0 0 600px;
    }
    .contactpage {
        height: 10vh;
        width: 100%;
    }
    .contact-wrapper h1,
    .contact-wrapper h2 {
        color: #fff;
        margin: auto 0px;
    }
    .topnav.contact {
        height: 10vh;
        width: 45vw;
    }
    .contact-wrapper .form form input,
    .contact-wrapper .form form textarea {
        margin: 15px 0;
    }
    .contact-wrapper div {
        padding-left: 120px;
    }
    .contact-wrapper .address {
        width: 35%;
        float: left;
        font-size: 16px;
    }
    .contact-wrapper .address ul {
        margin-left: -40px;
    }
    .contact-wrapper-header {
        display: flex;
        color: #fff;
    }
    .contact-wrapper-header div {
        display: block;
        width: 100%;
    }
    .topnav.contact.open {
        width: 45vw;
    }
}